#alerts
  .alert.alert-disabled.animated.flipInX(remove-out-class='animated flipInX', out-class='animated flipOutX', role='model')
    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
script window.ale = new window.alerts("#alerts");