footer
  hr
  .container
    p.pull-right
      a(href='privacy-policy.html') Política de privacidad

      |  | 

      a(href='terms-and-conditions.html') Términos y Condiciones
    p
      | © 2014 
      a(href='#', target='_blank') Banquet au goût