meta(name='viewport', content='width=device-width, initial-scale=1')
link(href='http://fonts.googleapis.com/css?family=Tangerine:400,700', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/bootstrap-theme.min.css')
link(rel='stylesheet', href='css/theme.delisius.css')
link(rel='stylesheet', href='css/animate.css')