#machineLoading.animated.fadeIn.progress.progress-striped.active
  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
    span.sr-only Cargando...
script window.load = new window.loading("#machineLoading");