.col-sm-2
  a(href='index.html') Portada
.col-sm-2
  a(href='menus.html') Menús
.col-sm-2
  a(href='eventos.html') Eventos
.col-sm-2
  a(href='nosotros.html') Nosotros
.col-sm-2
  a(href='contacto.html') Contacto
.col-sm-2
  a(href='login.html#flogin') Acceder