#contrato_grid.panel-control.animated.fadeIn.panel.panel-default
  .panel-body
    
    //- Control / Contratos
    ol.breadcrumb
      li Control
      li.active Contratos

    h2 Contratos

    div
      table#contrato-tables-list-contact.table.table-striped(cap="pipe-contrato")
        thead
          tr
            th Cod.
            th Fecha del evento
            th Costo
            th Tipo Paquete
            th Cod. de Cliente
            th Cod. de Empleado
            th Cod. Cuenta del Cliente
        tbody
