#empleado_grid.panel-control.animated.fadeIn.panel.panel-default
  .panel-body
    
    //- Control / Contratos
    ol.breadcrumb
      li Control
      li.active Contratos

    h2 Contratos

    div
      table#empleado-tables-list-contact.table.table-striped(cap="pipe-empleado")
        thead
          tr
            th Cod.
            th Nombre
            th Apellido
            th Clave
        tbody
