#inventario.panel-control.panel.panel-default.animated.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li.active Inventario
    h2 Inventario
    form#inventarioFiltarMedianteBusqueda.form-inline(role='form')
      .form-group
        input.form-control(name="name", type='text', placeholder='Articulo')
      .form-group
        select.form-control(name='type')
          option(value='.') All
          include inventario-tipos
      .form-group
        button.form-control.btn.btn-primary(type='submit')
          i.glyphicon.glyphicon-search
          | Buscar
    table#tableviewlistinventariocompleto.table
      thead
        tr
          th #
          th Articulo
          th Tipo
          th Cantidad
          th Control
      tbody
        td
        td
        td
        td
    //-
      div
        ul.pagination
            li
              a(href='#') «
            li
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') »

//-
   Fin inventario panel   