#inventario-edit.panel-control.panel.panel-default.animated.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li
        a(href='#inventario') Inventario
      li.active Editar articulo
    h2 Editar articulo
    p Puedes editar, el articulo que necesites dentro de tu inventario.
    form#aditarArticuloSubirArticulo.form(action='')
      input(type='hidden', name='valueArticle')
      .form-group
        label Nombre del articulo
        input.form-control(name='name', type='text')
      .form-group
        label Categoría Del articulo
        select.form-control(disabled='disabled', name='category')
          option(value='loza') loza
          option(value='cristaleria') Cristalería
          option(value='manteleria') Mantelería
          option(value='cubiertos') Cubiertos
      div
        label URL Image
        input.form-control(type='text', name='urlimage', placeholder='')
      .form-group
        label(for='') Cantidad
        input.form-control(name='count', type='number')
      div
        input.btn.btn-primary(type='submit', value='Guardar')
        input.btn.btn-danger(type='reset', value='Reiniciar')
//
   Fin Panel editar articulo al inventario 
