#inventario-new.panel-control.panel.panel-default.animated.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li
        a(href='#inventario') Inventario
      li.active Nuevo articulo
    h2 Nuevo articulo
    p Puedes agregar, el articulo que necesites dentro de tu inventario.
    form#nuevoArticuloSubirNuevoArticulo.form(action='')
      input(type='hidden')
      .form-group
        label Nombre del articulo
        input.form-control(name='name', type='text')
      .form-group
        label Categoría Del articulo
        select.form-control(name='category')
          include inventario-tipos
      div
        label URL Image
        input.form-control(type='text', name='urlimage', placeholder='')
      .form-group
        label(for='') Cantidad
        input.form-control(name='count', type='number')
      div
        input.btn.btn-primary(type='submit', value='Guardar')
        input.btn.btn-danger(type='reset', value='Reiniciar')