#newUsers.panel-control.panel.panel-default.animated.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li
        a(href='#users') Clientes
      li.active Nuevo Cliente
    h2 Nuevo Cliente
    form#newClienteNewUsers(role='form')
      .form-group
        label RUT
        input.form-control(name='rut', type='rut')
      .form-group
        label Nombre
        input.form-control(name='name', type='text')
      .form-group
        label Apellido
        input.form-control(name='lastname', type='text')
      .form-group
        label Correo electrónico
        input.form-control(name='email', type='email')
      .form-group
        label Dirección
        textarea.form-control(name='address', cols='30', rows='10')
      .form-group
        label Teléfono
        input.form-control(name='phone', type='tel')
      .form-group
        label Contraseña
        input.form-control(name='password', type='password')
      div
        input.btn.btn-primary(type='submit', value='Crear')
        input.btn.btn-danger(type='reset', value='Limpiar Campos')
//
   Inventario panel 