#pedidos-detalles.panel.panel-control.panel-default.animated.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li
        a(href='#pedidos') Pedidos
      li
        a(href='#pedidos-all') Todos los pedidos
      li.active Detalles del pedido
    h2 Detalles del pedido
    hr
    .panel.panel-default
      .panel-heading
        span
          strong Detalles del Cliente
      .panel-body
        dl.dl-horizontal
          dt Nombre
          dd Juan antonino labra
          dt Rut
          dd 11.111.111-1
          dt Dirección
          dd Santiago #123, santiago, Chile.
          dt Teléfono
          dd +56 (02) 23-41-234
          dt Celular
          dd +56 (9) 1234-1234
    .panel.panel-default
      .panel-heading
        span
          strong Detalles del pedido
      .panel-body
        dl.dl-horizontal
          dt Estado
          dd
            form.form-inline(action='', role='form')
              .form-group
                span.label.label-success Activo
              .form-group
                select.form-control(name='')
                  option(value='') Activo
                  option(value='') Desactivado
                  option(value='') Rechazado
              .form-group
                button.btn.form-control.btn-primary(type='submit')
                  i.glyphicon.glyphicon-play-circle
                  | Cambiar estado
          dt Planto
          dd Lorem ipsum dolor.
          dt Cristalería
          dd Lorem ipsum dolor sit.
          dt Menú
          dd Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, recusandae.
          dt Loza
          dd Lorem ipsum dolor sit.
          dt Cubiertos
          dd Lorem ipsum dolor sit amet.
          dt Tipo de servicio
          dd Lorem ipsum dolor sit.
          dt Mantelería
          dd Lorem ipsum dolor sit.
          dt Decoración
          dd
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, aliquid, explicabo, delectus, quis aspernatur at necessitatibus optio soluta rerum non id itaque repudiandae voluptate doloribus animi quae eos placeat pariatur.
// Fin Panel detalle pedido