#pedidos-all.panel-control.panel.panel-default.animated.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li
        a(href='#pedidos') Pedidos
      li.active Todos los pedidos
    h2 Todos los pedidos
    form.form-inline(role='form')
      .form-group
        input.form-control(type='text', placeholder='Cliente')
      .form-group
        label Entre
        input.form-control(type='date')
      .form-group
        label Asta
        input.form-control(type='date')
      .form-group
        button.form-control.btn.btn-primary(type='submit')
          i.glyphicon.glyphicon-search
          | Buscar
    table.table
      thead
        tr
          th #
          th Cliente
          th Fecha
          th Fecha solicitada
          th Control
      tbody
        tr
          td 1
          td juan
          td 10-05-2014
          td 31-05-2014
          td
            a(href='#pedidos-detalles')
              i.glyphicon.glyphicon-paperclip
              | Leer mas...
        tr
          td 1
          td juan
          td 10-05-2014
          td 31-05-2014
          td
            a(href='#pedidos-detalles')
              i.glyphicon.glyphicon-paperclip
              | Leer mas...
    div
      ul.pagination
        li
          a(href='#') «
        li
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') 4
        li
          a(href='#') 5
        li
          a(href='#') »
//
   Fin Panel todos los pedidos 