#pedidos_grid.panel-control.animated.fadeIn.panel.panel-default
  .panel-body
    
    //- Control / Contratos
    ol.breadcrumb
      li Control
      li.active Contratos

    h2 Contratos

    div
      table#pedidos-grid-tables-list-contact.table.table-striped(cap="pipe-pedidos")
        thead
          tr
            th Cod.
            th Fecha de pedido
        tbody
