#sessions.panel-control.panel.panel-default.animatend.fadeIn
  .panel-body
    ol.breadcrumb
      li Control
      li
        a(href='#users') Usuarios
      li.active Sesiones
    h2 Sesiones
    //
       Informe de sesiones 
    //
       Fin Informe de sesiones 
    table#sessionControlManager.table
      thead
        th #
        th Usuario
        th Fecha
        th Navegador
      tbody
//
   Fin Panel Sesiones