#users_grid.panel-control.animated.fadeIn.panel.panel-default
  .panel-body
    
    ol.breadcrumb
      li Control
      li.active Clientes

    h2 Clientes

    div
      table#users-tables-list-contact.table.table-striped(cap="pipe-cliente")
        thead
          tr
            th Cod.
            th Nombre
            th Apellido
            th Rut
            th Direccion
            th Telefono
            th Celular
            th Email
        tbody
