#users.panel-control.animated.fadeIn.panel.panel-default
  .panel-body
    ol.breadcrumb
      li Control
      li.active Clientes
    h2 Clientes
    form#users-form-buscar.form-inline(action='')
      .form-group
        input.form-control(name='name', type='text', placeholder='Nombre')
      .form-group
        input.form-control(name='rut', type='rut', placeholder='RUT')
      .form-group
        button.form-control.btn.btn-primary(type='submit')
          i.glyphicon.glyphicon-search
          | Buscar
    div
      table#users-tables-list-contact.table.table-striped
        thead
          tr
            th #
            th Nombre
            th RUT
            th Dirección
            th Control
        tbody
      #user-table-control-list
        ul.pagination
          li
            a(href='#') «
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »