doctype html
html(lang='es')
  head
    include ../global-Component/header
    title Banquet au gout
  body
    header#top-title
      include menu-superior
    .container
      .row
        .col-md-2
          include menu-lateral
        .col-md-10
          //- Menus tipo grid
          include panel/usuarios_grid
          include panel/contrato_grid
          include panel/empleados_grid
          include panel/pedidos_grid
          //- Menus Normales
          include panel/usuarios
          include panel/nuevo-usuario
          include panel/inventario
          include panel/sesiones
          include panel/inventario-nuevo
          include panel/inventario-editar
          include panel/pedidos
          include panel/pedidos-activos
          include panel/pedidos-todos
          include panel/padidos-detalle
    include ../global-Component/alerts-components
    include ../global-Component/loading-components
    include ../global-Component/footer
    script(src='js/control.js')
