h3 Menú
ul.nav.nav-pills.nav-stacked
  li
    a(href='#account-panel')
      i.glyphicon.glyphicon-user
      |  Mi cuenta
  li
    a(href='#newUsers')
      i.glyphicon.glyphicon-time
      |  Mis pedidos
  li
    a(href='#sessions')
      | &times;
      | Cerrar cession
