h3 Menú
ul.nav.nav-pills.nav-stacked
  li
    //- a(href='#users')
      i.glyphicon.glyphicon-user
      | Clientes
    a(href="#users_grid")
      i.glyphicon.glyphicon-user
      | Clientes
  li
    a(href='#newUsers')
      i.glyphicon.glyphicon-plus
      | Nuevo cliente
  li
    a(href="#empleado_grid")
      i.glyphicon.glyphicon-user
      | Empleados
  li
    a(href='#sessions')
      i.glyphicon.glyphicon-time
      | Sesiones
hr
ul.nav.nav-pills.nav-stacked
  li
    a(href="#contrato_grid")
      i.glyphicon.glyphicon-inbox
      | Contratos
hr
ul.nav.nav-pills.nav-stacked
  li
    a(href='#pedidos_grid')
      i.glyphicon.glyphicon-tag
      | Pedidos
  //-li
    a(href='#pedidos-on')
      i.glyphicon.glyphicon-tags
      | Pedidos en transcurso
  //-li
    a(href='#pedidos-all')
      i.glyphicon.glyphicon-flag
      | Todos los pedidos
hr
ul.nav.nav-pills.nav-stacked
  li
    a(href='#inventario')
      i.glyphicon.glyphicon-list-alt
      | Inventario
  li
    a(href='#inventario-new')
      i.glyphicon.glyphicon-plus
      | Nuevo articulo