h1.animated.bounceIn Panel de control
nav.menu-bar-lit.animated.bounceIn
  //
     Inventario 
  ul.nav.nav-pills
    li
      a(href='.') Portada
    //-
      li
        a(href='#users') Usuarios
      li
        a(href='#inventario') Inventario
      li
        a(href='#pedidos') Pedidos
    li
      a(href='#OutLogin') Cerrar cesión