doctype html
html(lang='es')
  head
    include ../global-Component/header
    title Banquet au gout
  body
    header#top-title
      include menu-superior
    .container
      .row
        .col-md-2
          include menu-lateral-panel
        .col-md-10
          include panel/panel-account
    include ../global-Component/alerts-components
    include ../global-Component/loading-components
    include ../global-Component/footer
    script(src='js/control.js')
