.title hr {
	width: 60%;
}
.title h2 {
	font-family: 'Tangerine', cursive;
	font-size  : 60px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.title h2 {
	-webkit-animation:  fadeInDown .9s;
	-o-animation:  fadeInDown .9s;
	animation:  fadeInDown .9s;
}
.title hr:first {
	margin-bottom: 0px;
}
header#top-title {
	background-image   : url(../img/back2.jpg);
	background-position: center center;
	background-size    : auto auto;
	padding: 20px 0px;
}
header#top-title h1 {
	font-family: 'Tangerine', cursive;	
	font-size: 70px;
	color: #fff;
	margin: 0px;
	text-align: center;
}
header#top {
	background-image   : url(../img/back2.jpg);
	min-height         : 680px;
	background-position: center center;
	background-size    : auto auto;
}
@media (min-width: 1422px) {
	header#top {
		background-size: 100% auto;
	}
}
header#top .logotipo {
	line-height   : 600px;
	vertical-align: middle;
	@media (max-width: 768px) {
		line-height: 365px;
	}
}
header .menu-bar {
	background-color: #fff;
	display         : block;
	font-weight     : bold;
	line-height     : 50px;
}
header .menu-bar-lit {
	background-color: #fff;
}
header .menu-bar a{
	color    : #84351c;
	font-size: 14px;
}
header .menu-bar a:hover {
	text-decoration: none;
	-webkit-animation: swing .6s;
	animation: swing .6s;
}
#flogin, #fregist {
	margin: auto auto;
	margin-top: 0px;
	margin-bottom: 20px;
	width: 400px;
	border: solid 1px #ddd;
	border-radius: 5px;
	padding: 10px;
}
#alerts {
	margin-top: 20px;
}

/* Control de target */
div.panel-control {
	display: none;
	z-index: 9;
}
div.panel-control:target {
	display: block;
}
#alerts {
	width: 400px;
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 10px 10px 0px 0px;
	z-index: 1000;
	opacity: .8;
	-webkit-animation: opacitiVandgInverse .62;
	-o-animation: opacitiVandgInverse .62;
	animation: opacitiVandgInverse .62;
}
#alerts:hover {
	opacity: 1;
	-webkit-animation: opacitiVandg .42s;
	-o-animation: opacitiVandg .42s;
	animation: opacitiVandg .42s;
}
@media (max-width: 500px) {
	#alerts {
		width: 100%;
		padding: 5px 10px 0px 10px;
	}
}

@-webkit-keyframes opacitiVandg {
	0% {
		opacity: .8;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes opacitiVandgInverse {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .8;
	}
}
#machineLoading {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 10px;
	border-radius: 0px;
	width: 100%;
	margin: 0px;
}
