doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public
    .container
      .title
        hr
        h2 Contacto
        hr
        p.lead.text-center
        | Si tienes dudas o contactarnos deja tus datos aquí nosotros te enviaremos más información.
      .row
        .col-md-5

        .col-md-7
          form(role="form").form
            .form-group
              label Tu Nombre
              input.form-control
            .form-group
              label Tu Email
              input.form-control
            .form-group
              label Asunto
              input.form-control
            .form-group
              label Tu mensaje
              textarea.form-control
            div
              button.btn.btn-primary Enviar
              | 
              button.btn.btn-warning Reiniciar


    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
