doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public

    .container
      .title
        hr
        h2 Nuestros eventos
        hr
      p.lead.text-center Te mostramos algunas de nuestras decoraciones

      h3 
      hr
      // nightlife

      div.row
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/1")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/2")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/3")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/4")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/5")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/6")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/7")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/8")
    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
    