doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public
    
    .container
      .title
        hr
        h2 Mensaje
        hr

    //-
      Comentario

    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
    