doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public
    
    section.container
      .title
        hr
        h2 Nuestros Menus
        hr
      h3.text-center Entradas
      hr
      div.row
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/1")
            .caption
              h3 Nachos Supreme
              p Crujientes nachos cubiertos con salsa de queso cheddar, fajitas de res, frijoles fritos, pico de gallo, lechuga y crema 6.75
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/2")
            .caption
              h3 Deditos de Mozzarella
              p Deliciosos deditos relleno de queso mozzarella servidos con papas fritas y salsa Marinara 5.99
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/3")
            .caption
              h3 Bruschetta
              p Riquísimo pan con ajo cubierto de una mezcal de tomates marinados, albahaca y queso parmesano 4.50

      h3.text-center Sopas
      hr
      div.row
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/4")
            .caption
              h3 Tomate y Albahaca Fresca
              p Una suave y deliciosa sopa de tomate mezclada con un toque de crema y fresca albahaca Taza 2.75 / Bowl 3.99
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/5")
            .caption
              h3 Brócoli Cheddar
              p Una fresca y cremosa mezcla de brócoli queso cheddar Sazonada a la perfección Taza 2.75 / Bowl 3.99
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/6")
            .caption
              h3 Sopa del Chef
              p Taza 2.99 / Bowl 4.50
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/200/food/7")
            .caption
              h3 Sopa y Ensalada Clásica
              p Bowl de Sopa + ½ Ensalada Clásica de su elección + Canasta de Pan 6.50 

      h3.text-center ...mas...
      hr
      //-
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img data-src="holder.js/300x300" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          </div>
    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
