doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public
    .container
      .title
        hr
        h2 Nosotros
        hr
      .row
        .col-md-7
          p.lead
            | ¿Quiénes somos?, somos una empresa de Banquetearía que se ajusta a tu bolsillo, ofrecemos diferentes paquetes los cuales  están amoldados  A TI.
            | Nosotros estamos orientados a la decoración de tu meza y presentar un exquisito menú orientado a un pequeño o mediano evento.
          p
            | Nuestra misión es brindar la mejor experiencia para nuestros clientes como sus invitados ofreciendo una gran variedad de servicios, con los cuales  se sentirá a gusto.
          p
            | Nuestra visión será aumentar nuestros servicios a otro tipo de eventos y agregar más variedad de productos, todo con la misma calidad y dedicación que nosotros ofrecemos.
        .col-md-5
          img.img.img-responsive.hidden-sm.hidden-xs(src="http://lorempixel.com/400/600/business/")



    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
    